@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --bg-color: #121212; /* Dark background color */
  --card-bg: #1e1e1e; /* Slightly lighter dark background for cards */
  --text-color: #e0e0e0; /* Light text color */
  --secondary-text: #b3b3b3; /* Secondary text color */
  --highlight-color: #4caf50; /* Green highlight color for emphasis */
  --hover-color: #388e3c; /* Darker green shade for hover effects */
  --border-color: #333; /* Border color for input fields */
  --transition-speed: 0.3s; /* Transition speed for animations */
  --shadow-color: rgba(0, 0, 0, 0.4); /* Shadow color */
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  transition: all var(--transition-speed) ease;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--bg-color);
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1200px; /* Increased max-width for better layout */
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px; /* Increased margin for better spacing */
  color: var(--text-color);
  animation: fadeInUp var(--transition-speed) ease-out;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--highlight-color);
  transition: color var(--transition-speed) ease;
}

h3:hover {
  color: var(--hover-color);
}

p {
  font-size: 18px;
  line-height: 1.8;
  color: var(--secondary-text);
  margin-bottom: 25px; /* Increased margin for better readability */
  animation: fadeInUp var(--transition-speed) ease-out;
}

.btn {
  padding: 14px 24px;
  background-color: var(--border-color);
  color: var(--text-color) !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: var(--text-color);
}

.navbar .logo img {
  width: 50px;
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
}

.navbar .nav-links li {
  position: relative;
}

.navbar .nav-links a {
  font-weight: 700;
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 8px;
  display: block;
  transition: background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.navbar .nav-links a:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-color);
  list-style: none;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.navbar .dropdown-menu li {
  padding: 10px;
}

.navbar .dropdown-menu a {
  color: var(--text-color);
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .toggle-menu {
  display: none;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--border-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

#backToTopBtn:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

#home .hero {
  background-image: url("../images/banner.avif");
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  padding: 120px 20px;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home .hero h1 {
  color: var(--text-color);
  font-size: 4.5rem; /* Increased font size for impact */
  padding: 0 5rem;
  font-weight: 700;
  animation: fadeInUp var(--transition-speed) ease-out;
}

#home .hero p {
  color: var(--text-color);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 2rem;
  font-weight: 600;
  animation: fadeInUp var(--transition-speed) ease-out;
}

#home .hero .cta-button {
  padding: 14px 28px;
  margin: 0 10px;
  background-color: var(--border-color);
  color: var(--text-color) !important;
  border: none;
  border-radius: 8px;
  animation: pulse var(--transition-speed) infinite;
}

.gradient-text {
  background: linear-gradient(90deg, #3f3957aa, #00072d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#features {
  padding: 60px 20px;
  background-color: #1e1e1e;
  text-align: center;
}

.features-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feature {
  background-color: var(--card-bg);
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  width: calc(33.333% - 20px); /* Responsive layout with gaps */
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: center;
  transition: transform var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;
  position: relative;
  overflow: hidden;
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--shadow-color);
}

.feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.2)
  );
  opacity: 0;
  transition: opacity var(--transition-speed) ease;
  z-index: 1;
}

.feature:hover::before {
  opacity: 1;
}

.feature i {
  font-size: 50px;
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
}

#how-it-works {
  padding: 60px 20px;
  color: var(--text-color);
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  background-color: var(--card-bg);
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  width: calc(50% - 20px); /* Responsive layout with gaps */
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: transform var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;
}

.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--shadow-color);
}

.step h3 {
  color: var(--text-color);
}

.step p {
  color: var(--text-color);
}

#about-us {
  padding: 80px 20px;
  background-color: #1e1e1e;
  text-align: center;
}

#about-us h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--text-color);
  animation: fadeInUp var(--transition-speed) ease-out;
}

#about-us p {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 30px;
  line-height: 1.6;
  animation: fadeInUp var(--transition-speed) ease-out;
}

#about-us h3 {
  font-size: 32px;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 20px;
}

#about-us ul {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

#about-us ul li {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 15px;
}

#contact {
  padding: 60px 20px;
  background-color: #1e1e1e;
}

.contact-container {
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  max-width: 750px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: var(--text-color);
}

input,
textarea {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 16px;
  width: 100%;
  background-color: #333;
  color: var(--text-color);
  transition: border-color var(--transition-speed) ease;
}

input:focus,
textarea:focus {
  border-color: var(--highlight-color);
}

textarea {
  resize: none;
  height: 140px;
}

#faqs {
  padding: 60px 20px;
  background-color: #1e1e1e;
}

.faq-container {
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  max-width: 800px;
  margin: 0 auto;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  margin-bottom: 15px;
}

.accordion-header {
  background-color: var(--border-color);
  color: var(--text-color);
  border: none;
  padding: 15px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  display: block;
  transition: background-color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.accordion-header:hover {
  background-color: var(--hover-color);
  transform: scale(1.02);
}

.accordion-body {
  max-height: 0;
  padding: 0 15px;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-left: 3px solid var(--border-color);
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.accordion-body p {
  margin: 0;
  padding: 15px 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.accordion-item.active .accordion-body {
  max-height: 500px; /* Adjust as necessary */
  padding: 15px;
}

.accordion-item.active .accordion-body p {
  opacity: 1;
}

footer {
  padding: 20px;
  background-color: #1a1a1a;
  text-align: center;
}

footer p {
  margin: 0;
  color: var(--text-color);
}

/* Keyframe animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
